body {
    font-family: 'Trebuchet MS, Arial, sans-serif';
}

.contnrhead {
    display: inline;
}

.logobaatz {
    display: inline;
    flex-basis: 35%;
}


}
.menu {
    display: inline-block;
    justify-content: center;
}
ul {
    display: inline-block;
    text-transform: uppercase;
}