body {
    /* background-image: url('./resouces/images/baatz_batim.jpg'); */
    font-family: 'Trebuchet MS, Arial, sans-serif';
    display: inline-block;
    width: 100%;
}

.contnrhead {
    /*  display: flex;
    flex-direction: row;*/
    width: 98%;
}

.logobaatz {
    display: flex;
    flex-direction: column;
    width: 30%;
}


}
.menu {
    display: flex;
    flex-direction: row;
    width: 96%;
    margin-right: 10px;
}
ul {
    display: flex;
    flex-direction: row;
    width: 90%;
    text-transform: uppercase;
    font-size: 1.1em;
}
li {
    display: flex;
    flex-direction: row;
    width: 20%;
}
nav a:hover {
    color: darkorchid;
    border-bottom: 3px dashed #eee;
}