body {
    font-family: 'Trebuchet MS, Arial, sans-serif';
}

.contnrhead {
    display: flex;
}

.logobaatz {
    display: flex;
    flex-basis: 40%;
}


}
.menu {
    display: flex;
    justify-content: center;
}
ul {
    display: inline-block;
    text-transform: uppercase;
}